<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">

<sqlMapConfig>
    <settings useStatementNamespaces="true"/>
    <sqlMap resource="ibatis/sqlmap/login.xml"/>
    <sqlMap resource="ibatis/sqlmap/log.xml"/>
    <sqlMap resource="ibatis/sqlmap/oauth.xml"/>
</sqlMapConfig>